#img-showing {
    display: none;
    position: absolute;
}

#img-hidden {
  position: absolute;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}
